<h2 style="margin-bottom: 20px;">Vielen Dank.</h2>

<p class="lead">Ihre Antwort <strong><%= @given_answer %></strong> wurde vermerkt.</p>
<p class="lead">Bitte warten Sie bis zur n채chsten Frage-Runde und w채hlen Sie dann unten "Zur n채chsten Frage".</p>

<%= form_tag '/answer/show', method: :get do %>
  <%= bootstrap_submit_button "Zur n채chsten Frage" %>
<% end %>

<!-- Reload Checking (see questions.js) -->
<script type="text/javascript">enable_reload_check();</script>
