<h2 style="margin-bottom: 20px;">Sie haben...</h2>

<% if @won %>
  <p class="lead"><strong>... gewonnen!</strong></p>
<% else %>
  <p class="lead">... leider nicht gewonnen.</p>
<% end %>

<script type="text/javascript">enable_reload_check();</script>
